.login {
  height: 100vh; // Full viewport height
  display: flex; // Use flexbox for centering
  align-items: center; // Center vertically
  justify-content: center; // Center horizontally
  background-color: rgb(193, 190, 255); // Background for the login page
}

.card {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 300px;

  .left {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
        center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    h1 {
      font-size: 2rem;
    }

    p {
      margin: 10px 0;
    }

    button {
      margin-top: 20px;
      padding: 10px;
      background-color: white;
      color: rebeccapurple;
      border: none;
      cursor: pointer;
    }
  }

  .right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: #555;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 10px;
      }

      button {
        margin-top: 20px;
        padding: 10px;
        background-color: #938eef;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column; // Stack sections for smaller screens
  }
}
